/*!
  Css Framework 2nd Attempt
 */
:root {

}
*,
*::before,
*::after {
         box-sizing: border-box;
}
html{
    font-family: sans-serif;
    line-height: 1.15;
}
body{
	margin: 0;
	padding: 0;
	color: #3a3a3a;
	text-align: left;
	background-color: #fff;
	font-size: 17px;
	font-weight: 400;
}
aside, figure, footer, header, main, nav, section {
  display: block;
}
hr{
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}
p{
    text-align: justify;
    margin-top: 0;
    margin-bottom: 10px;
    word-spacing: 3px;
    letter-spacing: 1px;
    line-height: 1;
    font-size: 15px;
    font-family: sans-serif;
    text-indent: 25px;
    
}
a{
  text-decoration: none;
  color: #000;
  background: transparent;
  outline: none;
}
a:hover{
  text-decoration: none;
  color: #000;
}
h1, h2, h3, h4, h5,h6{
	margin: 5px 0;
	display: block;
	padding: 0;
	font-weight: bold;
	font-family: sans-serif;
}
h1{
   font-size: 50px;
}
h2{
   font-size: 44px;
}
h3{
   font-size: 38px;
}
h4{
   font-size: 32px;
}
h5{
   font-size: 26px;
}
h6{
   font-size: 20px;
}
ol, ul{
	display: block;
	list-style: none;
	margin: 0;
	padding: 5px;
}
img{
  height: auto;
  max-width: 100%;
}
small{
	font-size: 11px;
}
input, button{
	border-radius: 0;
	border: 1px solid #3a3a3a;
	outline: none;
	cursor: pointer;
	padding: 6px;
	font-size: 14px;
	background: #f9f3f3;
}
input:focus{
	box-shadow: 0px 1px 14px -2px #3a3a3a;
	border: none;
}
table{
  border-collapse: collapse;
  border-spacing: 0;
}

td,th {
  padding: 0;
  text-align: left;
}
.container {
	max-width: 100%;
	margin: 0 auto;
	
}

@media (min-width: 576px) {
	.container{
		max-width: 520px;
	}
}
@media (min-width: 768px) {
	.container{
		max-width: 730px;
	}
}
@media (min-width: 991px) {
	.container{
		max-width: 950px;
	}
}
@media (min-width: 1200px) {
	.container{
		max-width: 1150px;
	}
}
.row{
    display: flex;
    flex-wrap: wrap;
    margin: 0 -15px;
}
.col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12,
.col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12,
.col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12,
.col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12,
.col-xl-1, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-10, .col-xl-11, .col-xl-12
   {
  padding-right: 15px;
  padding-left: 15px;
}
.col-1{
	width: 8.3333333%;
}
.col-2{
	width: 16.6666667%;
}
.col-3{
	width: 25%;
}
.col-4{
	width: 33.3333334%;
}
.col-5{
	width: 41.6666667%;
}
.col-6{
	width: 50%;
}
.col-7{
	width: 58.3333333%;
}
.col-8{
	width: 66.6666667%;
}
.col-9{
	width: 75%;
}
.col-10{
	width: 83.3333333%;
}
.col-11{
	width: 91.6666666%;
}
.col-12{
	width: 100%;
}
@media (min-width: 576px) {
.col-sm-1{
	width: 8.3333333%;
}
.col-sm-2{
	width: 16.6666667%;
}
.col-sm-3{
	width: 25%;
}
.col-sm-4{
	width: 33.3333334%;
}
.col-sm-5{
	width: 41.6666667%;
}
.col-sm-6{
	width: 50%;
}
.col-sm-7{
	width: 58.3333333%;
}
.col-sm-8{
	width: 66.6666667%;
}
.col-sm-9{
	width: 75%;
}
.col-sm-10{
	width: 83.3333333%;
}
.col-sm-11{
	width: 91.6666666%;
}
.col-sm-12{
	width: 100%;
}
}
@media (min-width: 768px) {
.col-md-1{
	width: 8.3333333%;
}
.col-md-2{
	width: 16.6666667%;
}
.col-md-3{
	width: 25%;
}
.col-md-4{
	width: 33.3333334%;
}
.col-md-5{
	width: 41.6666667%;
}
.col-md-6{
	width: 50%;
}
.col-md-7{
	width: 58.3333333%;
}
.col-md-8{
	width: 66.6666667%;
}
.col-md-9{
	width: 75%;
}
.col-md-10{
	width: 83.3333333%;
}
.col-md-11{
	width: 91.6666666%;
}
.col-md-12{
	width: 100%;
}
}
@media (min-width: 991px) {
.col-lg-1{
	width: 8.3333333%;
}
.col-lg-2{
	width: 16.6666667%;
}
.col-lg-3{
	width: 25%;
}
.col-lg-4{
	width: 33.3333334%;
}
.col-lg-5{
	width: 41.6666667%;
}
.col-lg-6{
	width: 50%;
}
.col-lg-7{
	width: 58.3333333%;
}
.col-lg-8{
	width: 66.6666667%;
}
.col-lg-9{
	width: 75%;
}
.col-lg-10{
	width: 83.3333333%;
}
.col-lg-11{
	width: 91.6666666%;
}
.col-lg-12{
	width: 100%;
}
}
@media (min-width: 1200px) {
.col-xl-1{
	width: 8.3333333%;
}
.col-xl-2{
	width: 16.6666667%;
}
.col-xl-3{
	width: 25%;
}
.col-xl-4{
	width: 33.3333334%;
}
.col-xl-5{
	width: 41.6666667%;
}
.col-xl-6{
	width: 50%;
}
.col-xl-7{
	width: 58.3333333%;
}
.col-xl-8{
	width: 66.6666667%;
}
.col-xl-9{
	width: 75%;
}
.col-xl-10{
	width: 83.3333333%;
}
.col-xl-11{
	width: 91.6666666%;
}
.col-xl-12{
	width: 100%;
}
}
